*{
  margin: 0;
  padding: 0;
}

:root{
  --bg_color: #19272d;
  --fg_color: #38ff40;
  --border_bottom_color: #259029;
}


@font-face {
  font-family: Blazma;
  src: url('./fonts/Blazma-Regular.otf');
}